<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <property name="LOG_HOME" value="${user.home}/bisfile"/>
  <property name="PROFILE" value="local"/>
  <include resource="logging/appenders.xml"/>
  <include resource="logging/loggers.xml"/>

  <root level="INFO">
    <appender-ref ref="consoleAppender"/>
    <appender-ref ref="apiAppender"/>
  </root>
</configuration>
